/* COMMON */
* {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}
/* HEADER */
header {
  background-color: orange;
  height: 60px;
}
h1 {
  text-align: center;
  line-height: 60px;
}
/* CONTENTS */
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* INPUT-PART */
.input-part {
  padding: 30px 0px;
}

.list-part .todo-list {
  /* 리스트들이 왼쪽으로 붙지 않도록 해야함 */
  text-align: center;
}
